body {font-family: 'Titillium Web', sans-serif;}
img {max-width:100%; height:auto;}
a {color:#2E6AB5; transition:all linear 0.2s;}
a:hover, a:focus {text-decoration:none; outline:0; color:#444;}

h1, h2, h3, h4, h5, h6 {font-weight: 700;}
section {padding:70px 0;}
.fex-button {padding:10px 35px; font-weight:600; font-size:18px;background-color: #5e4192;border-color: #5e4192;}
.fex-button:hover {background-color: #18b93b;border-color: #18b93b;}
.btn-info {color:#fff;}
.btn-info:hover, .btn-info:focus {color:#fff;}

header {padding:20px 0; position: absolute; left:0; right:0; top:0; z-index: 2;}
.fex-logo {max-width: 250px;}

.fex-banner {background-size: cover; background-repeat: no-repeat; background-position: center; padding:150px 0 150px; position: relative;}
.fex-banner:before {position: absolute; left:0; right:0; top:0; bottom:0; content:""; background:rgba(2,2,2,0.50);}
.fex-banner .container {position: relative;}
.fex-content {color:#fff; max-width: 600px;}
.fex-heading {font-size:40px; font-weight:700; margin: 0 0 10px; text-shadow: 0 0 5px rgba(0, 0, 0, 0.39);}
.fex-content p {font-size:24px; margin: 0 0 40px; text-shadow: 0 0 5px rgba(0, 0, 0, 0.39);}

.fex-form {padding:40px; background:rgba(255,255,255,0.75); border-radius: 8px;}
.fex-form p {font-size:20px; margin: 0 0 25px;}
.fex-form .form-control {margin: 0 0 30px; min-height: 60px; font-size:18px; padding-left:25px;}
.fex-form .btn {font-size:18px; padding:10px 30px; width: 100%; font-weight:600;}
.fex-form .fex-button {background-color: #18b93b;border-color: #18b93b;}
.fex-form .fex-button:hover {background-color: #5e4192;border-color: #5e4192;}

.fex-box {background: #F0F0F0; padding:60px; text-align: center; border-radius: 8px;}
.fex-box h2 {font-size:50px; font-weight: 700;}
.fex-box .fex-heading {color: #5e4192;text-shadow:none;}
.fex-box p {font-size:26px; margin: 0 0 30px;}
.fex-box .fex-featured .btn {font-size: 18px;}
.fex-box .fex-featured span {font-size:30px; font-weight: 700;margin:4px 25px 0 0; display: inline-block;}

footer {padding:20px 0; background: #212121; color: #fff;font-family: Arial, Helvetica, sans-serif;}